body {
  background-size: cover;
  background-repeat: no-repeat;
  background-image:url(../src/assests/pexels-kowalievska-1126993.jpg) ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
